{% extends 'bank/base.html' %}

{% block content %}
<h1>Привет {{ user.username }}</h1>
<h3>Если у вас ещё нет карты вы можете её создать</h3>
<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
</form>
<h3>Если у вас есть карта</h3>
<h3>Вы можете <a style="color:black" href="{% url 'bringing_in' %}"><b>Внести средства</b></a> и
   <a style="color:black" href="{% url 'transfer' %}"><b>Перевести</b></a><br><br>
Если вы хотите узнать информацию о своей карте <a style="color:black" href="{% url 'about_card' %}"><b>О карте</b></a> </h3>
{% endblock %}
